<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../styles.css">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
<header><b>GEORGE AND CO</b></header>
</head>
<body>
    <ul class="listing">
        <div class="link1">
        <li><a href="../INDEX.HTML">HOME</a></li>
        </div>
        <div class="link2">
        <li><a href="about.html">ABOUT</a></li>
        </div>
        <div class="link3">
        <li><a href="project.html">PROJECTS</a></li>
        </div>
        <div class="link4">
        <li><a href="contact.html">CONTACT</a></li>
        </div>
    </ul>

<h1><b>WHAT WE OFFER</b></h1>
<div class="h3">
<h3><i>We at GEORGE AND CO are concerned and tasked with breaching the gap between developers and non developers</i></h3>
    <h3><i>This will enable non developers take a little peek into the tech world<br> thereby partaking in the wonders of tech</i></h3>
</div>
    